<% content_for :fluidity do %>
  <div class="hero center">
        <h1 class="boom">Social Drink Discovery</h1>
        <h2 class="badoom">Find your next favorite <div id="drinking_buddy">drink</div></h2>
        <!-- Sign up / Sign in buttons if user not signed in -->
        <% unless user_signed_in? %>
      
          <%= link_to new_user_registration_path do%>
            <div class="cta-sign">Sign Up</div>
          <% end %>
          <% else %>
          <ul class="dash-container">
            <li class="dash">
              <i class="fa fa-facebook"> &nbsp;SHARE</i>
            </li>
            <li class="dash">
              <i class="fa fa-twitter"> &nbsp;TWEET</i>
            </li>
          </ul>

        <% end %>
        
  </div>
<% end %>
<ul class="mini-nav">
  <!-- <li><h4><%= Pin.count %> Drinks</h4></li> -->
 <li> <%= link_to new_pin_path, class: "strong" do %>
       <i class="fa fa-plus"></i>
       New Drink
   <% end %>
 </li>
 <li>
   My Feed
 </li>
 <li>
   Most Popular
 </li>
 <li>
   Local Favorites
 </li> 
 <li>
   
 </li>
</ul>

<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
          <%= link_to image_tag(pin.image.url(:medium)), pin%>
          <div class="panel-body boxxer">
            <%= pin.description %>
            <br />
            <% if pin.locale%>
              <div class="locale"><i class="fa fa-map-marker">&nbsp;</i><%= pin.locale %></div>
            <% end %>
              
              <div class="actions">
              <div class="name"><%= pin.user.name_initialed if pin.user %></div>
              <% if pin.user == current_user %>
                <%= link_to edit_pin_path(pin) do %>
                  <i class="fa fa-pencil-square-o right-buffer"></i>
                <% end %>
                <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="fa fa-times"></i>
                <% end %>
              <% end %>
            </div>
          </div>
          
    </div>
  <% end %>
</div>

<br>
