<%= link_to 'Back', pins_path %>

<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <%= image_tag @pin.image.url(:medium) %>
      </div>
      <div class="panel-body">
        <p>
          <%= @pin.description %>
        </p>
        <p>
          <div class="locale">
            <% if @pin.locale %>
              <i class="fa fa-map-marker">&nbsp;</i><%= @pin.locale %>
            <% end %>
          </div>
        </p>
        <div class="actions">
              <div class="name"><%= @pin.user.name_initialed %></div>
              <% if @pin.user == current_user %>
                <%= link_to edit_pin_path(@pin) do %>
                  <i class="fa fa-pencil-square-o right-buffer"></i>
                <% end %>
                <%= link_to @pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="fa fa-times"></i>
                <% end %>
              <% end %>
            </div>
      </div>

    </div>
    
  </div>
</div>