<!DOCTYPE html>
<html>
<head>
  <title>drinksphere.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag '//use.typekit.net/bxr4hlq.js' %>
  <%= javascript_tag 'try{Typekit.load();}catch(e){}' %> 
  <%= favicon_link_tag 'https://s3.amazonaws.com/drinksphere/favicon.ico' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


  
    <%= render 'layouts/header' %>
    <%= content_for :fluidity %>
    <div class="container top-buffer">
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-info") %>
      <% end %>
      <%= yield %>
    </div>

</body>
</html>
